<a href="https://colab.research.google.com/github/Niguzmang/AlgorithmsUN2021II/blob/main/lab1/niguzmang_QuanconnectTutortials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***LABORATORIO 1:***
Data Types and Data Structures

In [25]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [26]:
my_string1 = 'Simple'
my_string2 = "    Trial"
print(my_string1 + ' ' + my_string2)

Simple     Trial

In [27]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [28]:
my_int = 0
print(my_int)
print(type(my_int))

0
<class 'int'>

In [29]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))
print()
#My example################
my_string = "9"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

<class 'str'>
<class 'int'>

In [30]:
my_float = 1.0
print(type(my_float))
my_int = 1
print(type(my_int))
print()
#My Example########
my_2float = 8.98
print(type(my_2float))
my_2int = 9
print(type(my_2int))

<class 'float'>
<class 'int'>

<class 'float'>
<class 'int'>

In [31]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))
print()
#My Example###
my_string2 = "0"
my_float2 = float(my_string2)
print(type(my_float2))

<class 'float'>

<class 'float'>

In [32]:
my_bool = False
print(my_bool)
print(type(my_bool))
print()
#MY EXAMPLE ############
my_bool2 = True
print(my_bool2)
print(type(my_bool2))

False
<class 'bool'>

True
<class 'bool'>

In [33]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)
print()
#MY EXAMPLE#######
print("Addition ", 9+0)
print("Subtraction ", -8-2)
print("Multiplication ", 77*-3)
print("Division", 10/3)
print("exponent", 2**-2)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
exponent 8

Addition  9
Subtraction  -10
Multiplication  -231
Division 3.3333333333333335
exponent 0.25

In [34]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)
print()
#MY EXAMPLE#######
my_list2 = ['Bit', False, int(1.0),2.4]
print(my_list2)

['Quant', 'Connect', 1, 2, 3]

['Bit', False, 1, 2.4]

In [35]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) - 1])
print()
#MY EXAMPLE#######
my_list2 = ['Bit', False, int(1.0),2.4]
print(len(my_list2))
print(my_list2[0])
print(my_list2[len(my_list2) - 1])

5
Quant
3

4
Bit
2.4

In [36]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)
print()
#MY EXAMPLE#######
my_list2 = ['Bit', False, int(1.0),2.4]
my_list2[len(my_list2)-1] = 'coin'
print(my_list2)

['Quant', 'Connect', 'go', 2, 3]

['Bit', False, 1, 'coin']

In [37]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])
print(my_list[1:])
print(my_list[:3])
print()
#MY EXAMPLE#######
my_list2 = ['Bit', False, int(1.0),2.4, 7]
print(my_list2[2:4])
print(my_list2[2:])
print(my_list2[:2])

['Connect', 1]
['Connect', 1, 2, 3]
['Quant', 'Connect', 1]

[1, 2.4]
[1, 2.4, 7]
['Bit', False]

In [38]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)
my_list.remove('Hello')
print(my_list)
print()
#MY EXAMPLE#######
my_list2 = []
my_list2.append('3')
print(my_list2)
my_list2.remove("3")
print(my_list2)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

['3']
[]

In [39]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])
print()
#MY EXAMPLE#######
my_tuple2=(500, False, "åþ", "®©œ", 5, True)
print(my_tuple2[2:])

('to', 'QuantConnect')

('åþ', '®©œ', 5, True)

In [40]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)
print()
#MY EXAMPLE#######
stock_list2 = [3.00,3,3.00,3.,'Bitcoin','Satoshi','satoshi']
stock_set2 = set(stock_list2)
print(stock_set2)

{'IBM', 'AAPL', 'GOOG', 'FB', 'F'}

{'Bitcoin', 3.0, 'Satoshi', 'satoshi'}

In [41]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(my_dic['GOOG'])
print()
#MY EXAMPLE#######
my_dicci = {True: False, 4: 'FaceBook', 1.9: [3,5,"Liubliana"]}
print(my_dicci[True])
print(my_dicci[1.9])

Alphabet

False
[3, 5, 'Liubliana']

In [42]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])
print(my_dic.keys())
print()
#MY EXAMPLE#######
my_dicci = {True: False, 4: 'FaceBook', 1.9: [3,5,"Liubliana"]}
my_dicci[4]=4
print(my_dicci[4])
print(my_dicci.keys())

Alphabet Company
dict_keys(['AAPL', 'FB', 'GOOG'])

4
dict_keys([True, 4, 1.9])

In [43]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])
print()
#MY EXAMPLE#######
my_str2 = 'Undermining bitcoins'
print(my_str2[12:15])

to QuantConnect

bit

In [44]:
print("Counting the number of e's in this sentence".count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))
print()
#MY EXAMPLE#######
print('I am on a seafood diet. I see food, and I eat it.'.count("2"))
print('I finally realized that people are prisoners of their phones... that is why it is called a "cell" phone.'.find('.'))
print('Light travels faster than sound. This is why some people appear bright until you hear them speak.'.replace('a','4'))

6
2
ell the e in this sentence now becomes e

0
60
Light tr4vels f4ster th4n sound. This is why some people 4ppe4r bright until you he4r them spe4k.

In [45]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)
print()
#MY EXAMPLE#######
string = 'Сблъсък на кланове е най-добрата игра някога.'
splited_list1 = string.split(' ')
first = splited_list1[0]
third = splited_list1[3]
print(first, third)
weirdestWord = string.split(' ')[4]
print(weirdestWord)

2016-04-01 09:43:00
09

Сблъсък е
най-добрата

In [46]:
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)
print()
#MY EXAMPLE#######
my_time2 = 'Introduction: {}, MEssage: {}'.format(True, ('Welcome','to','QuantConnect'))
print(my_time2)

Hour: 9, Minute: 43

Introduction: True, MEssage: ('Welcome', 'to', 'QuantConnect')

In [47]:
print ('pi is %f' % 3.14)
print('%s to %s' % ('Welcome', 'QuantConnect'))
print()
#MY EXAMPLE#######
print ('parte entera de pi es %i' % 3.14)
print('%s or %f' % ('', 3.))

pi is 3.140000
Welcome to QuantConnect

parte entera de pi es 3
 or 3.000000

# ***Logical Operations and Loops***

In [48]:
print (1 == 0)    # 1 equals 0
print (1 == 1)    # 1 equals 1
print (1 != 0)    # 1 is not equal to 0
print (5 >= 5)    # 5 is greater than or equal to 5
print (5 >= 6)    # 5 is greater than or equal to 6
print()
#MY EXAMPLE#######
print(3.0==3)
print(0==3.)
print(87!=87)
print(4<4)
print(-9.2<=-9.3)

False
True
True
True
False

True
False
False
False
False

In [49]:
print (2 > 1 and 3 > 2)
print (2 > 1 and 3 < 2)
print (2 > 1 or  3 < 2)
print (2 < 1 and 3 < 2)
print()
#MY EXAMPLE#######
print (9 > 7 or 3 <= 5)
print (26 >= 10 and 87 < 9)
print (25 < 17 or  34 > 6)
print (72 > 10 and 90 < 43)

True
False
True
False

True
False
True
False

In [50]:
print ((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print (3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print()
#MY EXAMPLE#######
print ((3 > 2 or 1 < 3) and (1!=3 and 4>3) and ( 3 < 2 and 1 < 3 and (1!=3 and not 4>3)))
print ((3 > 2 or 1 < 3) and (1!=3 and 4>3) and ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

False
True

In [51]:
i = 0
if i == 0: print ('i == 0 is True')
print()
#MY EXAMPLE#######
j = 2
if j != 1: print ('j == 1 is False')

i == 0 is True

j == 1 is False

In [52]:
p = 1 > 0
q = 2 > 3
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')
print()
#MY EXAMPLE#######
a=1
b=1
if(a == 0) and (b == 0):
    print (True)
elif(a == 0) and (b == 1):
    print (False)
elif(a == 1) and (b == 0):
    print (False)
elif(a == 1) and (b == 1):
    print (True)

q is false

True

In [53]:
i = 0
while i < 5:
    print (i)
    i += 1
print()
#MY EXAMPLE#######
h = 0
while h > -5:
    print (h)
    h -= 1

0
1
2
3
4

0
-1
-2
-3
-4

In [54]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)
print()
#MY EXAMPLE#######
stock_list2 = [3.00,3,3.0,3.,'Bitcoin','Satoshi','satoshi']
selected2 = [3]
new_list2 = []
for s in stock_list2:
    if s not in selected2:
        new_list2.append(s)
print (new_list2)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

['Bitcoin', 'Satoshi', 'satoshi']

In [55]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print (stock)
    if stock == 'FB': break
print()
#MY EXAMPLE#######
stock_list2 = [3.00,3,3.0,3.,'Bitcoin','Satoshi','satoshi']
for item in stock_list2:
    print (item)
    if item == 'Satoshi': break

AAPL
GOOG
IBM
FB

3.0
3
3.0
3.0
Bitcoin
Satoshi

In [56]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': continue
    print (stock)
print()
#MY EXAMPLE#######
stock_list2 = [3.00,3,3.0,3.,'Bitcoin','Satoshi','satoshi']
for item in stock_list2:
    if item == 'Satoshi': continue
    print (item)

AAPL
GOOG
IBM
F
V
G
GE

3.0
3
3.0
3.0
Bitcoin
satoshi

In [57]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print (squares)
print()
#MY EXAMPLE#######
sqr_root = []
for i in [1,2,3,4,5]:
    sqr_root.append(i**(1/2))
print (sqr_root)

[1, 4, 9, 16, 25]

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [58]:
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print (squares)
print()
#MY EXAMPLE#######
foo2 = [1,2,3,4,5]
sqr_root2 = [x**(1/2) for x in foo2]
print (sqr_root2)

[1, 4, 9, 16, 25]

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [59]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print (new_list)
print()
#MY EXAMPLE#######
stock_list2 = [3.00,3,3.0,3.,'Bitcoin','Satoshi','satoshi']
selected2 = [3]
new_list22 = [x for x in stock_list2 if x not in selected2]
print (new_list22)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

['Bitcoin', 'Satoshi', 'satoshi']

In [60]:
print ([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x != y])
print()
#MY EXAMPLE#######
print ([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

# ***Functions and Objective-Oriented Programming***

In [61]:
def product(x,y):
    return x*y
print (product(2,3))
print (product(5,10))
print()
#MY EXAMPLE#######
def suma(x,y):
    return x+y
print (suma(2,3))
print (suma(5,10))

6
50

5
15

In [62]:
def say_hi():
    print ('Welcome to QuantConnect')
say_hi()
print()
#MY EXAMPLE#######
def say_hallo():
    print ('Hallo')
say_hallo()

Welcome to QuantConnect

Hallo

In [63]:
print (range(10))
print (range(1, 11))
print (range(1, 11, 2))
print()
#MY EXAMPLE#######
print (range(0))
print (range(1, 2))
print (range(0, 10, 10))

range(0, 10)
range(1, 11)
range(1, 11, 2)

range(0, 0)
range(1, 2)
range(0, 10, 10)

In [64]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print( k + 1, tickers[k])
print()
#MY EXAMPLE#######
actions = [3.00,3,3.0,3.,'Bitcoin','Satoshi','satoshi']
print ("The number of actions is {}".format(len(actions)))
for k in range(len(actions)):
    print( k + 1, actions[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

The number of actions is 7
1 3.0
2 3
3 3.0
4 3.0
5 Bitcoin
6 Satoshi
7 satoshi

In [65]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))
print()
#MY EXAMPLE#######
actions = ['Bitcoin','Satoshi','satoshi']
print(list(map(len,actions)))

[4, 4, 3, 2, 1, 1, 1, 2]

[7, 7, 7]

In [66]:
print(list(map(lambda x: x**2, range(10))))
print()
#MY EXAMPLE#######
print(list(map(lambda x: x*2, range(10))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [67]:
print(list(map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1])))
print()
#MY EXAMPLE#######
print(list(map(lambda x, y, z: x+y*z, [1,2,3,4,5], [5,4,3,2,1], [1,2,3,0,0])))

[6, 6, 6, 6, 6]

[6, 10, 12, 4, 5]

In [68]:
print(sorted([5,2,3,4,1]))
print()
#MY EXAMPLE#######
sorted([2.5,-2,1.3,4.02,1])

[1, 2, 3, 4, 5]

[-2, 1, 1.3, 2.5, 4.02]

In [69]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
print(sorted(price_list, key = lambda x: x[1]))
print()
#MY EXAMPLE#######
actions = [('Bitcoin',7),('Satoshi',-3),('xatoshi',0)]
print(sorted(actions, key = lambda x: x[0]))

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

[('Bitcoin', 7), ('Satoshi', -3), ('xatoshi', 0)]

In [70]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
print(sorted(price_list, key = lambda x: x[1], reverse=True))
print()
#MY EXAMPLE#######
actions = [('Bitcoin',7),('Satoshi',-3),('xatoshi',0)]
print(sorted(actions, key = lambda x: x[0], reverse=True))

[('GOOGL', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

[('xatoshi', 0), ('Satoshi', -3), ('Bitcoin', 7)]

In [71]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list.sort(key = lambda x: x[1])
print (price_list)
print()
#MY EXAMPLE#######
actions = [('Bitcoin',7),('Satoshi',-3),('xatoshi',0)]
actions.sort(key = lambda x: x[0], reverse=True)
print(actions)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

[('xatoshi', 0), ('Satoshi', -3), ('Bitcoin', 7)]

In [72]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print (self.rate_return)

apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

print(apple.ticker)
google.print_return()
google.update(912.8,913.4)
google.print_return()
print()
#MY EXAMPLE#######
class cripto:
    def __init__(self, ticker, val_today, val_yesterday, volume):
        self.ticker = ticker
        self.val_today = val_today
        self.val_yesterday = val_yesterday
        self.volume = volume
        self.rate_return = val_today-val_yesterday

    def update(self, val_today, val_yesterday):
        self.val_today= val_today
        self.val_yesterday = val_yesterday
        self.rate_return = val_today-val_yesterday

    def print_return(self):
        print (self.rate_return)

bitcoin  = cripto('BTC', 62776, 61667.3, 20)
ethereum = cripto('ETH', 3803.6, 3852, 156)

print(bitcoin.ticker)
ethereum.print_return()
ethereum.update(912.8,913.4)
bitcoin.print_return()

AAPL
0.014465338822744034
0.0006573181419806673

BTC
-48.40000000000009
1108.699999999997

In [73]:
apple.ceo = 'Tim Cook'
print(apple.ceo)
print()
#MY EXAMPLE#######
bitcoin.potential = 'Very high.'
print(bitcoin.potential)

Tim Cook

Very high.

In [74]:
print(dir(apple))
print()
#MY EXAMPLE#######
dir(bitcoin)

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'ceo', 'close', 'open', 'print_return', 'rate_return', 'ticker', 'update', 'volume']

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'potential',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'val_today',
 'val_yesterday',
 'volume']

In [75]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

aa = Child('AA')
print (aa.name)
aa.update(100, 102)
print (aa.open)
print (aa.close)
print (aa.print_return())
print()
#MY EXAMPLE#######
class cbs(cripto):
    def __init__(self, name):
        self.name = name

ex = cbs('example1')
print (ex.name)
ex.update(98, 1054)
print (ex.val_today)
print (ex.val_yesterday)
print (ex.print_return())

AA
100
102
0.020000000000000018
None

example1
98
1054
-956
None

# **4. NumPy and Basic Pandas**

In [76]:
import numpy as np

price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print (price_array, type(price_array))
print()
#MY EXAMPLE#######
price_list2 = [2, 14.83, 83.2, 142, 54.8]
price_array2 = np.array(price_list2)
print (price_array2, type(price_array2))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

[  2.    14.83  83.2  142.    54.8 ] <class 'numpy.ndarray'>

In [77]:
Ar = np.array([[1,3], [2,4]])
print(Ar, type(Ar))
print()
#MY EXAMPLE#######
hn = np.array([[77,8.9], [0,4],[33,10]])
print(hn, type(hn))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

[[77.   8.9]
 [ 0.   4. ]
 [33.  10. ]] <class 'numpy.ndarray'>

In [78]:
print (Ar.shape)
print()
#MY EXAMPLE#######
print(hn.shape)

(2, 2)

(3, 2)

In [79]:
print (Ar[0])
print (Ar[1])
print()
#MY EXAMPLE#######
print (hn[0][1])
print (hn[1][0])

[1 3]
[2 4]

8.9
0.0

In [80]:
print ('First column:', Ar[:,0])
print ('Second column:', Ar[:,1])
print()
#MY EXAMPLE#######
print ('Second column:', hn[:,1])
print ('first column:', hn[:,0])

First column: [1 2]
Second column: [3 4]

Second column: [ 8.9  4.  10. ]
first column: [77.  0. 33.]

In [81]:
print(np.log(price_array))
print(np.log(price_array2))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]
[0.69314718 2.69665216 4.42124735 4.95582706 4.00369019]

In [82]:
print(np.mean(price_array))
print (np.std(price_array))
print (np.sum(price_array))
print (np.max(price_array))
print()
#MY EXAMPLE#######
print(np.mean(price_array2))
print (np.std(price_array2))
print (np.sum(price_array2))
print (np.max(price_array2))

143.89666666666668
0.9673790478515796
863.38
145.83

59.366
50.38174097825521
296.83
142.0

In [83]:
import pandas as pd
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print (s)
print()
#MY EXAMPLE#######
precio= [[314,3.3], [[1.8, 3.68], [14.2, 4.5]], 122]
p = pd.Series(precio)
print (p)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

0                    [314, 3.3]
1    [[1.8, 3.68], [14.2, 4.5]]
2                           122
dtype: object

In [84]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(s)
print()
#MY EXAMPLE#######
p = pd.Series(precio, index = [['a',2], True,'11'])
print(p)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

[a, 2]                    [314, 3.3]
True      [[1.8, 3.68], [14.2, 4.5]]
11                               122
dtype: object

In [85]:
s.index = [6,5,4,3,2,1]
print (s)
print()
#MY EXAMPLE#######
p.index = [3,2,1]
print (p)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

3                    [314, 3.3]
2    [[1.8, 3.68], [14.2, 4.5]]
1                           122
dtype: object

In [86]:
print (s[1:])
print (s[:-2])
print()
#MY EXAMPLE#######
print (p[1:])
print (p[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

2    [[1.8, 3.68], [14.2, 4.5]]
1                           122
dtype: object
3    [314, 3.3]
dtype: object

In [87]:
print (s[4])
s[4] = 0
print (s)
print()
#MY EXAMPLE#######
print (p[2])
p[2] = 0
print (p)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

[[1.8, 3.68], [14.2, 4.5]]
3    [314, 3.3]
2             0
1           122
dtype: object

In [88]:
s = pd.Series(price, name = 'Apple Prices')
print (s)
print (s.name)
print()
#MY EXAMPLE#######
p = pd.Series(precio, name = 'bµh')
print (p)
print (p.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

0                    [314, 3.3]
1    [[1.8, 3.68], [14.2, 4.5]]
2                           122
Name: bµh, dtype: object
bµh

In [89]:
print (s.describe())
print()
#MY EXAMPLE#######
print (p.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

count              3
unique             3
top       [314, 3.3]
freq               1
Name: bµh, dtype: object

In [90]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print (time_index)
s.index = time_index
print (s)
print()
#MY EXAMPLE#######
time_index2 = pd.date_range('2021-12-31', periods = len(p), freq = 'Y')
print (time_index2)
p.index = time_index2
print (p)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

DatetimeIndex(['2021-12-31', '2022-12-31', '2023-12-31'], dtype='datetime64[ns]', freq='A-DEC')
2021-12-31                    [314, 3.3]
2022-12-31    [[1.8, 3.68], [14.2, 4.5]]
2023-12-31                           122
Freq: A-DEC, Name: bµh, dtype: object

In [91]:
s.index = [6,5,4,3,2,1]
print (s)
print (s[1])
print()
#MY EXAMPLE#######
p.index = [3,2,1]
print (p)
print (p[2])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

3                    [314, 3.3]
2    [[1.8, 3.68], [14.2, 4.5]]
1                           122
Name: bµh, dtype: object
[[1.8, 3.68], [14.2, 4.5]]

In [92]:
print (s.iloc[1])
print()
#MY EXAMPLE#######
print (p.iloc[0])

145.83

[314, 3.3]

In [93]:
s.index = time_index
print (s['2017-01-03'])
print()
#MY EXAMPLE#######
p.index = time_index2
print (p['2023-12-31'])

143.68

122

In [94]:
print (s['2017-01-02':'2017-01-05'])
print()
#MY EXAMPLE#######
print (p['2021-12-31':'2022-12-31'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

2021-12-31                    [314, 3.3]
2022-12-31    [[1.8, 3.68], [14.2, 4.5]]
Freq: A-DEC, Name: bµh, dtype: object

# ***05 Pandas-Resampling and DataFrame***

In [2]:


!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 6.1 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=9a59c3b32ba46cec4776c3166fa227ba1a1fad4571a0f05466409e7f3f728fa8
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [3]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
print(aapl_table)

print()
#MY EXAMPLE#######

btc = yf.Ticker("BTC-USD")

# get stock info
print(btc.info)

# get historical market data
btc_table = btc.history(start="2016-01-01",  end="2017-12-31")
print(btc_table)

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 149.48, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 41, 'targetMeanPrice': 168.35, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.32, 'beta3Year': None, 'enterpriseToEbitda': 22.906, '52WeekChange': 0.28950322, 'morningStarRiskRating': None, 'forwardEps': 5.67, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58674, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.313509, 'priceToBook': 38.505924, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2541087621120, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.1176686, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 26.363314, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 149.26, 'regularMarketOpen': 148.81, 'twoHundredDayAverage': 139.08286, 'trailingAnnualDividendYield': 0.005594265, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.64, 'navPrice': None, 'averageDailyVolume10Day': 71794737, 'regularMarketPreviousClose': 149.26, 'fiftyDayAverage': 146.39772, 'trailingAnnualDividendRate': 0.835, 'open': 148.81, 'toCurrency': None, 'averageVolume10days': 71794737, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 147.87, 'currency': 'USD', 'trailingPE': 29.2639, 'regularMarketVolume': 61222219, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2470934216704, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 76263192, 'dayLow': 147.87, 'ask': 149.52, 'askSize': 1800, 'volume': 61222219, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 149.2, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 3200, 'dayHigh': 149.64, 'regularMarketPrice': 149.48, 'preMarketPrice': 148.83, 'logo_url': 'https://logo.clearbit.com/apple.com'}
                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655166  24.291443  23.514540  ...  270597600        0.0             0
2016-01-05  24.379045  24.402098  23.609059  ...  223164000        0.0             0
2016-01-06  23.182569  23.599838  23.023501  ...  273829600        0.0             0
2016-01-07  22.749164  23.083439  22.230461  ...  324377600        0.0             0
2016-01-08  22.719199  22.848298  22.306542  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827756  42.004953  41.784656  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731054  40.893880  40.637667  ...   85992800        0.0             0
2017-12-28  40.946568  41.150105  40.822051  ...   65920800        0.0             0
2017-12-29  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[503 rows x 7 columns]

{'companyOfficers': [], 'name': 'Bitcoin', 'startDate': 1367107200, 'description': 'Bitcoin (BTC) is a cryptocurrency . Users are able to generate BTC through the process of mining. Bitcoin has a current supply of 18,847,193. The last known price of Bitcoin is 60,843.63534697 USD and is down -0.02 over the last 24 hours. It is currently trading on 8362 active market(s) with $35,402,634,758.68 traded over the last 24 hours. More information can be found at https://bitcoin.org/.', 'maxAge': 1, 'exchange': 'CCC', 'shortName': 'Bitcoin USD', 'exchangeTimezoneName': 'Europe/London', 'exchangeTimezoneShortName': 'BST', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '3600000', 'quoteType': 'CRYPTOCURRENCY', 'symbol': 'BTC-USD', 'messageBoardId': 'finmb_BTC_CCC', 'market': 'ccc_market', 'previousClose': 65919.14, 'regularMarketOpen': 65919.14, 'twoHundredDayAverage': 45201.406, 'trailingAnnualDividendYield': None, 'payoutRatio': None, 'volume24Hr': 46524461056, 'regularMarketDayHigh': 66561.13, 'navPrice': None, 'averageDailyVolume10Day': 39640026234, 'totalAssets': None, 'regularMarketPreviousClose': 65919.14, 'fiftyDayAverage': 50005.87, 'trailingAnnualDividendRate': None, 'open': 65919.14, 'toCurrency': 'USD=X', 'averageVolume10days': 39640026234, 'expireDate': None, 'yield': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'beta': None, 'circulatingSupply': 18850362, 'regularMarketDayLow': 62519.363, 'priceHint': 2, 'currency': 'USD', 'regularMarketVolume': 46524461056, 'lastMarket': 'CoinMarketCap', 'maxSupply': None, 'openInterest': None, 'marketCap': 1186092941312, 'volumeAllCurrencies': 46524461056, 'strikePrice': None, 'averageVolume': 34771012437, 'priceToSalesTrailing12Months': None, 'dayLow': 62519.363, 'ask': None, 'ytdReturn': None, 'askSize': None, 'volume': 46524461056, 'fiftyTwoWeekHigh': 66930.39, 'forwardPE': None, 'fromCurrency': 'BTC', 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 12717.094, 'bid': None, 'tradeable': False, 'dividendYield': None, 'bidSize': None, 'dayHigh': 66561.13, 'regularMarketPrice': 62921.496, 'preMarketPrice': None, 'logo_url': ''}
                    Open          High  ...  Dividends  Stock Splits
Date                                    ...
2016-01-01    430.721008    436.246002  ...          0             0
2016-01-02    434.622009    436.062012  ...          0             0
2016-01-03    433.578003    433.743011  ...          0             0
2016-01-04    430.061005    434.516998  ...          0             0
2016-01-05    433.069000    434.182007  ...          0             0
...                  ...           ...  ...        ...           ...
2017-12-27  16163.500000  16930.900391  ...          0             0
2017-12-28  15864.099609  15888.400391  ...          0             0
2017-12-29  14695.799805  15279.000000  ...          0             0
2017-12-30  14681.900391  14681.900391  ...          0             0
2017-12-31  12897.700195  14377.400391  ...          0             0

[731 rows x 7 columns]

In [4]:
aapl = aapl_table['Close']['2017']
print(aapl)

print()
#MY EXAMPLE#######

btc = btc_table['Close']['2017']
print(btc)

Date
2017-01-03    27.372364
2017-01-04    27.341722
2017-01-05    27.480764
2017-01-06    27.787130
2017-01-09    28.041647
                ...
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850780
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, Length: 251, dtype: float64

Date
2017-01-01      998.325012
2017-01-02     1021.750000
2017-01-03     1043.839966
2017-01-04     1154.729980
2017-01-05     1013.380005
                  ...
2017-12-27    15838.500000
2017-12-28    14606.500000
2017-12-29    14656.200195
2017-12-30    12952.200195
2017-12-31    14156.400391
Name: Close, Length: 365, dtype: float64

In [6]:
print(aapl['2017-3'])

print()
#MY EXAMPLE#######

print(btc['2017-8'])

Date
2017-03-01    33.086285
2017-03-02    32.889835
2017-03-03    33.083916
2017-03-06    32.979774
2017-03-07    33.022381
2017-03-08    32.899296
2017-03-09    32.823566
2017-03-10    32.932446
2017-03-13    32.946636
2017-03-14    32.896938
2017-03-15    33.244869
2017-03-16    33.299301
2017-03-17    33.133629
2017-03-20    33.481548
2017-03-21    33.098118
2017-03-22    33.472088
2017-03-23    33.353741
2017-03-24    33.287468
2017-03-27    33.344273
2017-03-28    34.035397
2017-03-29    34.111130
2017-03-30    34.066166
2017-03-31    34.002262
Name: Close, dtype: float64

Date
2017-08-01    2718.260010
2017-08-02    2710.669922
2017-08-03    2804.729980
2017-08-04    2895.889893
2017-08-05    3252.909912
2017-08-06    3213.939941
2017-08-07    3378.939941
2017-08-08    3419.939941
2017-08-09    3342.469971
2017-08-10    3381.280029
2017-08-11    3650.620117
2017-08-12    3884.709961
2017-08-13    4073.260010
2017-08-14    4325.129883
2017-08-15    4181.930176
2017-08-16    4376.629883
2017-08-17    4331.689941
2017-08-18    4160.620117
2017-08-19    4193.700195
2017-08-20    4087.659912
2017-08-21    4001.739990
2017-08-22    4100.520020
2017-08-23    4151.520020
2017-08-24    4334.680176
2017-08-25    4371.600098
2017-08-26    4352.399902
2017-08-27    4382.879883
2017-08-28    4382.660156
2017-08-29    4579.020020
2017-08-30    4565.299805
2017-08-31    4703.390137
Name: Close, dtype: float64

In [9]:
print(aapl['2017-2':'2017-4'])

print()
#MY EXAMPLE#######

print(btc['2017-1':'2017-3'])

Date
2017-02-01    30.341728
2017-02-02    30.289881
2017-02-03    30.419497
2017-02-06    30.704649
2017-02-07    30.996870
                ...
2017-04-24    33.997524
2017-04-25    34.208183
2017-04-26    34.006985
2017-04-27    34.033028
2017-04-28    33.999882
Name: Close, Length: 61, dtype: float64

Date
2017-01-01     998.325012
2017-01-02    1021.750000
2017-01-03    1043.839966
2017-01-04    1154.729980
2017-01-05    1013.380005
                 ...
2017-03-27    1045.770020
2017-03-28    1047.150024
2017-03-29    1039.969971
2017-03-30    1026.430054
2017-03-31    1071.790039
Name: Close, Length: 90, dtype: float64

In [10]:
print(aapl.head(5))
print(aapl.tail(10))

print()
#MY EXAMPLE#######

print(btc.head(3))
print(btc.tail(2))

Date
2017-01-03    27.372364
2017-01-04    27.341722
2017-01-05    27.480764
2017-01-06    27.787130
2017-01-09    28.041647
Name: Close, dtype: float64
Date
2017-12-15    41.657749
2017-12-18    42.244408
2017-12-19    41.794228
2017-12-20    41.748737
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850780
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, dtype: float64

Date
2017-01-01     998.325012
2017-01-02    1021.750000
2017-01-03    1043.839966
Name: Close, dtype: float64
Date
2017-12-30    12952.200195
2017-12-31    14156.400391
Name: Close, dtype: float64

In [11]:
by_month = aapl.resample('M').mean()
print(by_month)

print()
#MY EXAMPLE#######

by_hour = btc.resample('H').mean()
print(by_hour)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282220
2017-04-30    33.819263
2017-05-31    36.125684
2017-06-30    35.133983
2017-07-31    35.245241
2017-08-31    37.897227
2017-09-30    37.604738
2017-10-31    37.654551
2017-11-30    41.233916
2017-12-31    41.160039
Freq: M, Name: Close, dtype: float64

Date
2017-01-01 00:00:00      998.325012
2017-01-01 01:00:00             NaN
2017-01-01 02:00:00             NaN
2017-01-01 03:00:00             NaN
2017-01-01 04:00:00             NaN
                           ...
2017-12-30 20:00:00             NaN
2017-12-30 21:00:00             NaN
2017-12-30 22:00:00             NaN
2017-12-30 23:00:00             NaN
2017-12-31 00:00:00    14156.400391
Freq: H, Name: Close, Length: 8737, dtype: float64

In [12]:
by_week = aapl.resample('W').mean()
print(by_week.head())

print()
#MY EXAMPLE#######

by_week2 = btc.resample('W').mean()
print(by_week2.head())

Date
2017-01-08    27.495495
2017-01-15    28.097735
2017-01-22    28.266119
2017-01-29    28.553980
2017-02-05    29.662544
Freq: W-SUN, Name: Close, dtype: float64

Date
2017-01-01    998.325012
2017-01-08    993.669277
2017-01-15    836.755999
2017-01-22    895.235849
2017-01-29    913.380432
Freq: W-SUN, Name: Close, dtype: float64

In [13]:
print(aapl.resample('M').max())

print()
#MY EXAMPLE#######

print(btc.resample('M').max())

Date
2017-01-31    28.739214
2017-02-28    32.451973
2017-03-31    34.111130
2017-04-30    34.264977
2017-05-31    37.099133
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129723
2017-09-30    39.141655
2017-10-31    40.332245
2017-11-30    42.050148
2017-12-31    42.244408
Freq: M, Name: Close, dtype: float64

Date
2017-01-31     1154.729980
2017-02-28     1179.969971
2017-03-31     1274.989990
2017-04-30     1347.890015
2017-05-31     2443.639893
2017-06-30     2958.110107
2017-07-31     2875.340088
2017-08-31     4703.390137
2017-09-30     4892.009766
2017-10-31     6468.399902
2017-11-30    10233.599609
2017-12-31    19497.400391
Freq: M, Name: Close, dtype: float64

In [14]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()
print(three_day)
print(two_week)
print(two_month )

print()
#MY EXAMPLE#######

four_day = btc.resample('4D').mean()
three_week = btc.resample('3W').mean()
one_month = btc.resample('1M').mean()
print(four_day)
print(three_week)
print(one_month )

Date
2017-01-03    27.398284
2017-01-06    27.787130
2017-01-09    28.110774
2017-01-12    28.078176
2017-01-15    28.279669
                ...
2017-12-17    42.019318
2017-12-20    41.854097
2017-12-23          NaN
2017-12-26    40.886702
2017-12-29    40.522732
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495495
2017-01-22    28.172572
2017-02-05    29.108262
2017-02-19    31.516815
2017-03-05    32.595558
2017-03-19    33.017884
2017-04-02    33.625219
2017-04-16    33.849728
2017-04-30    33.791845
2017-05-14    35.697631
2017-05-28    36.496180
2017-06-11    36.515005
2017-06-25    34.529045
2017-07-09    34.265133
2017-07-23    35.278869
2017-08-06    36.272776
2017-08-20    37.904119
2017-09-03    38.458791
2017-09-17    38.282708
2017-10-01    36.840874
2017-10-15    37.071595
2017-10-29    37.757321
2017-11-12    41.032240
2017-11-26    41.204377
2017-12-10    40.867067
2017-12-24    41.620868
2018-01-07    40.795710
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524055
2017-05-31    35.056855
2017-07-31    35.186963
2017-09-30    37.761186
2017-11-30    39.402613
2018-01-31    41.160039
Freq: 2M, Name: Close, dtype: float64

Date
2017-01-01     1054.661240
2017-01-05      933.841248
2017-01-09      848.274506
2017-01-13      823.931992
2017-01-17      897.163742
                  ...
2017-12-15    18864.825195
2017-12-19    16008.999756
2017-12-23    14687.849854
2017-12-27    14513.350098
2017-12-31    14156.400391
Freq: 4D, Name: Close, Length: 92, dtype: float64
Date
2017-01-01      998.325012
2017-01-22      908.553708
2017-02-12      977.841861
2017-03-05     1131.975324
2017-03-26     1119.449617
2017-04-16     1134.467157
2017-05-07     1344.746187
2017-05-28     1971.726644
2017-06-18     2596.610968
2017-07-09     2580.976190
2017-07-30     2490.519996
2017-08-20     3583.824754
2017-09-10     4398.430466
2017-10-01     3900.357143
2017-10-22     5159.958101
2017-11-12     6520.786156
2017-12-03     8772.868513
2017-12-24    16114.895275
2018-01-14    14619.457171
Freq: 3W-SUN, Name: Close, dtype: float64
Date
2017-01-31      914.916159
2017-02-28     1062.533672
2017-03-31     1129.365228
2017-04-30     1206.641007
2017-05-31     1895.383529
2017-06-30     2636.204346
2017-07-31     2519.418386
2017-08-31     3880.989998
2017-09-30     4064.836312
2017-10-31     5360.071604
2017-11-30     7813.132975
2017-12-31    15294.270980
Freq: M, Name: Close, dtype: float64

In [16]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()
print(std)
print(max)
print(min)

print()
#MY EXAMPLE#######

std2 = btc.resample('W').std()
max2 = btc.resample('W').max()
min2 = btc.resample('W').min()
print(std2)
print(max2)
print(min2)

Date
2017-01-08    0.203368
2017-01-15    0.072527
2017-01-22    0.025553
2017-01-29    0.245286
2017-02-05    0.943260
2017-02-12    0.252000
2017-02-19    0.231395
2017-02-26    0.059347
2017-03-05    0.340089
2017-03-12    0.076285
2017-03-19    0.177836
2017-03-26    0.157265
2017-04-02    0.319808
2017-04-09    0.128688
2017-04-16    0.212476
2017-04-23    0.174674
2017-04-30    0.090031
2017-05-07    0.235638
2017-05-14    0.352982
2017-05-21    0.536092
2017-05-28    0.060395
2017-06-04    0.281224
2017-06-11    0.620034
2017-06-18    0.382563
2017-06-25    0.128891
2017-07-02    0.264112
2017-07-09    0.158886
2017-07-16    0.404281
2017-07-23    0.124989
2017-07-30    0.384440
2017-08-06    0.924396
2017-08-13    0.467470
2017-08-20    0.435246
2017-08-27    0.275769
2017-09-03    0.251727
2017-09-10    0.381640
2017-09-17    0.294140
2017-09-24    0.735193
2017-10-01    0.354847
2017-10-08    0.204856
2017-10-15    0.118735
2017-10-22    0.516999
2017-10-29    0.680456
2017-11-05    0.560685
2017-11-12    0.190974
2017-11-19    0.436201
2017-11-26    0.563044
2017-12-03    0.427444
2017-12-10    0.073129
2017-12-17    0.205267
2017-12-24    0.194126
2017-12-31    0.190393
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787130
2017-01-15    28.220747
2017-01-22    28.279669
2017-01-29    28.739214
2017-02-05    30.419497
2017-02-12    31.341909
2017-02-19    32.122978
2017-02-26    32.451973
2017-03-05    33.086285
2017-03-12    33.022381
2017-03-19    33.299301
2017-03-26    33.481548
2017-04-02    34.111130
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713505
2017-04-30    34.208183
2017-05-07    35.256691
2017-05-14    37.099133
2017-05-21    37.004066
2017-05-28    36.597668
2017-06-04    36.944649
2017-06-11    36.925640
2017-06-18    34.838955
2017-06-25    34.779541
2017-07-02    34.658333
2017-07-09    34.266190
2017-07-16    35.421223
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346294
2017-08-13    38.277931
2017-08-20    38.557091
2017-08-27    38.170563
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533237
2017-09-24    37.872318
2017-10-01    36.798641
2017-10-08    37.075413
2017-10-15    37.457169
2017-10-22    38.287487
2017-10-29    38.903061
2017-11-05    41.157795
2017-11-12    42.050148
2017-11-19    41.657749
2017-11-26    41.897198
2017-12-03    41.686474
2017-12-10    40.659222
2017-12-17    41.657749
2017-12-24    42.244408
2017-12-31    40.965725
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341722
2017-01-15    28.041647
2017-01-22    28.227825
2017-01-29    28.272596
2017-02-05    28.597813
2017-02-12    30.704649
2017-02-19    31.547823
2017-02-26    32.314690
2017-03-05    32.409367
2017-03-12    32.823566
2017-03-19    32.896938
2017-03-26    33.098118
2017-04-02    33.344273
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296932
2017-04-30    33.997524
2017-05-07    34.681545
2017-05-14    36.215260
2017-05-21    35.708809
2017-05-28    36.443176
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812260
2017-06-25    34.463451
2017-07-02    34.147354
2017-07-09    33.921585
2017-07-16    34.475334
2017-07-23    35.544811
2017-07-30    35.530556
2017-08-06    35.347549
2017-08-13    37.058708
2017-08-20    37.578857
2017-08-27    37.509651
2017-09-03    38.526073
2017-09-10    37.848461
2017-09-17    37.764957
2017-09-24    36.240322
2017-10-01    35.920605
2017-10-08    36.619686
2017-10-15    37.182774
2017-10-22    37.216183
2017-10-29    37.261528
2017-11-05    39.778709
2017-11-12    41.575329
2017-11-19    40.486816
2017-11-26    40.702324
2017-12-03    40.582592
2017-12-10    40.470055
2017-12-17    41.114185
2017-12-24    41.748737
2017-12-31    40.522732
Freq: W-SUN, Name: Close, dtype: float64

Date
2017-01-01            NaN
2017-01-08      93.132358
2017-01-15      49.360659
2017-01-22      31.304739
2017-01-29      11.472162
2017-02-05      42.715201
2017-02-12      32.132019
2017-02-19      24.993839
2017-02-26      34.578571
2017-03-05      39.742763
2017-03-12      51.789697
2017-03-19     109.833322
2017-03-26      63.699405
2017-04-02      26.544926
2017-04-09      25.965790
2017-04-16      14.934545
2017-04-23      13.327878
2017-04-30      35.090542
2017-05-07      65.820976
2017-05-14      46.773227
2017-05-21     140.876483
2017-05-28     132.486311
2017-06-04     138.001985
2017-06-11     101.711145
2017-06-18      95.202786
2017-06-25      66.314504
2017-07-02      49.004892
2017-07-09      38.381018
2017-07-16     191.616013
2017-07-23     264.263088
2017-07-30     102.635082
2017-08-06     222.660755
2017-08-13     289.358687
2017-08-20     107.450057
2017-08-27     154.568705
2017-09-03     155.225927
2017-09-10     190.700485
2017-09-17     351.477265
2017-09-24     167.337766
2017-10-01     191.278897
2017-10-08     119.284887
2017-10-15     472.119519
2017-10-22     198.484191
2017-10-29     194.574441
2017-11-05     484.350228
2017-11-12     527.779450
2017-11-19     601.522902
2017-11-26     472.073800
2017-12-03     623.935987
2017-12-10    2298.682096
2017-12-17    1219.407507
2017-12-24    1998.838374
2017-12-31    1082.023195
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-01      998.325012
2017-01-08     1154.729980
2017-01-15      907.679016
2017-01-22      924.672974
2017-01-29      921.590027
2017-02-05     1042.900024
2017-02-12     1063.069946
2017-02-19     1054.420044
2017-02-26     1173.680054
2017-03-05     1274.989990
2017-03-12     1272.829956
2017-03-19     1249.609985
2017-03-26     1120.540039
2017-04-02     1102.170044
2017-04-09     1187.869995
2017-04-16     1205.010010
2017-04-23     1231.709961
2017-04-30     1347.890015
2017-05-07     1596.709961
2017-05-14     1848.569946
2017-05-21     2084.729980
2017-05-28     2443.639893
2017-06-04     2515.350098
2017-06-11     2958.110107
2017-06-18     2717.020020
2017-06-25     2744.909912
2017-07-02     2574.790039
2017-07-09     2608.560059
2017-07-16     2398.840088
2017-07-23     2817.600098
2017-07-30     2809.010010
2017-08-06     3252.909912
2017-08-13     4073.260010
2017-08-20     4376.629883
2017-08-27     4382.879883
2017-09-03     4892.009766
2017-09-10     4599.879883
2017-09-17     4161.270020
2017-09-24     4065.199951
2017-10-01     4403.740234
2017-10-08     4610.479980
2017-10-15     5831.790039
2017-10-22     6031.600098
2017-10-29     6153.850098
2017-11-05     7407.410156
2017-11-12     7459.689941
2017-11-19     8036.490234
2017-11-26     9330.549805
2017-12-03    11323.200195
2017-12-10    17899.699219
2017-12-17    19497.400391
2017-12-24    19114.199219
2017-12-31    16099.799805
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-01      998.325012
2017-01-08      902.200989
2017-01-15      777.757019
2017-01-22      831.533997
2017-01-29      892.687012
2017-02-05      920.382019
2017-02-12      988.674011
2017-02-19      990.642029
2017-02-26     1079.979980
2017-03-05     1179.969971
2017-03-12     1116.719971
2017-03-19      973.817993
2017-03-26      937.520020
2017-04-02     1026.430054
2017-04-09     1124.780029
2017-04-16     1167.540039
2017-04-23     1193.910034
2017-04-30     1250.150024
2017-05-07     1421.599976
2017-05-14     1723.349976
2017-05-21     1734.449951
2017-05-28     2038.869995
2017-06-04     2175.469971
2017-06-11     2686.810059
2017-06-18     2464.580078
2017-06-25     2589.409912
2017-07-02     2434.550049
2017-07-09     2518.439941
2017-07-16     1929.819946
2017-07-23     2228.409912
2017-07-30     2529.449951
2017-08-06     2710.669922
2017-08-13     3342.469971
2017-08-20     4087.659912
2017-08-27     4001.739990
2017-09-03     4382.660156
2017-09-10     4122.939941
2017-09-17     3154.949951
2017-09-24     3630.699951
2017-10-01     3892.350098
2017-10-08     4229.359863
2017-10-15     4772.020020
2017-10-22     5590.689941
2017-10-29     5526.640137
2017-11-05     6130.529785
2017-11-12     5950.069824
2017-11-19     6559.490234
2017-11-26     8038.770020
2017-12-03     9818.349609
2017-12-10    11657.200195
2017-12-17    16408.199219
2017-12-24    13831.799805
2017-12-31    12952.200195
Freq: W-SUN, Name: Close, dtype: float64

In [17]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

print()
#MY EXAMPLE#######

last_dayb = btc.resample('M').agg(lambda x: x[-1])
print(last_dayb)

Date
2017-01-31    28.597813
2017-02-28    32.423569
2017-03-31    34.002262
2017-04-30    33.999882
2017-05-31    36.305332
2017-06-30    34.228161
2017-07-31    35.347549
2017-08-31    39.129723
2017-09-30    36.772400
2017-10-31    40.332245
2017-11-30    41.150105
2017-12-31    40.522732
Freq: M, Name: Close, dtype: float64

Date
2017-01-31      970.403015
2017-02-28     1179.969971
2017-03-31     1071.790039
2017-04-30     1347.890015
2017-05-31     2286.409912
2017-06-30     2480.840088
2017-07-31     2875.340088
2017-08-31     4703.390137
2017-09-30     4338.709961
2017-10-31     6468.399902
2017-11-30    10233.599609
2017-12-31    14156.400391
Freq: M, Name: Close, dtype: float64

In [18]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

print()
#MY EXAMPLE#######

monthly_returnb = btc.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_returnb)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Date
2017-01-31   -0.027969
2017-02-28    0.193066
2017-03-31   -0.123280
2017-04-30    0.247469
2017-05-31    0.608336
2017-06-30    0.030301
2017-07-31    0.181056
2017-08-31    0.730294
2017-09-30   -0.113103
2017-10-31    0.468842
2017-11-30    0.512211
2017-12-31    0.289807
Freq: M, Name: Close, dtype: float64

In [19]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

print()
#MY EXAMPLE#######

print(monthly_returnb.mean())
print(monthly_returnb.std())
print(monthly_returnb.max())

0.02686329302976818
0.052258579476360076
0.09901829189254818

0.2497524756046424
0.283169523310554
0.7302944235729267

In [20]:
print(last_day.diff())
print(last_day.pct_change())

print()
#MY EXAMPLE#######

print(last_dayb.diff())
print(last_dayb.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825756
2017-03-31    1.578693
2017-04-30   -0.002380
2017-05-31    2.305450
2017-06-30   -2.077171
2017-07-31    1.119389
2017-08-31    3.782173
2017-09-30   -2.357323
2017-10-31    3.559845
2017-11-30    0.817860
2017-12-31   -0.627373
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Date
2017-01-31            NaN
2017-02-28     209.566956
2017-03-31    -108.179932
2017-04-30     276.099976
2017-05-31     938.519897
2017-06-30     194.430176
2017-07-31     394.500000
2017-08-31    1828.050049
2017-09-30    -364.680176
2017-10-31    2129.689941
2017-11-30    3765.199707
2017-12-31    3922.800781
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.215959
2017-03-31   -0.091680
2017-04-30    0.257606
2017-05-31    0.696288
2017-06-30    0.085037
2017-07-31    0.159019
2017-08-31    0.635768
2017-09-30   -0.077536
2017-10-31    0.490858
2017-11-30    0.582091
2017-12-31    0.383326
Freq: M, Name: Close, dtype: float64

In [21]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

print()
#MY EXAMPLE#######

daily_returnb = last_dayb.pct_change()
print(daily_returnb.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Date
2017-01-31    0.000000
2017-02-28    0.215959
2017-03-31   -0.091680
2017-04-30    0.257606
2017-05-31    0.696288
2017-06-30    0.085037
2017-07-31    0.159019
2017-08-31    0.635768
2017-09-30   -0.077536
2017-10-31    0.490858
2017-11-30    0.582091
2017-12-31    0.383326
Freq: M, Name: Close, dtype: float64

In [22]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

print()
#MY EXAMPLE#######

daily_returnb = last_dayb.pct_change()
print(daily_returnb.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Date
2017-01-31    0.215959
2017-02-28    0.215959
2017-03-31   -0.091680
2017-04-30    0.257606
2017-05-31    0.696288
2017-06-30    0.085037
2017-07-31    0.159019
2017-08-31    0.635768
2017-09-30   -0.077536
2017-10-31    0.490858
2017-11-30    0.582091
2017-12-31    0.383326
Freq: M, Name: Close, dtype: float64

In [23]:
daily_return = last_day.pct_change()
print(daily_return.dropna())
print()
#MY EXAMPLE#######

daily_returnb = last_dayb.pct_change()
print(daily_returnb.dropna())

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Date
2017-02-28    0.215959
2017-03-31   -0.091680
2017-04-30    0.257606
2017-05-31    0.696288
2017-06-30    0.085037
2017-07-31    0.159019
2017-08-31    0.635768
2017-09-30   -0.077536
2017-10-31    0.490858
2017-11-30    0.582091
2017-12-31    0.383326
Freq: M, Name: Close, dtype: float64


**DataFrame**

The DataFrame is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.
Create DataFrames

The most common method of creating a DataFrame is passing a dictionary:

In [24]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

print()
#MY EXAMPLE#######

dict2 = {'BTC': [13.5, 44.9, 36.7, 234.1, 321.98],'ETH':[54.2, 21.6, 59.08, 43.98, 51.23],
        'BTCH':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index2 = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df2 = pd.DataFrame(dict2, index = data_index2)
print(df2)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

               BTC    ETH    BTCH
2017-07-03   13.50  54.20  155.58
2017-07-04   44.90  21.60  153.67
2017-07-05   36.70  59.08  152.36
2017-07-06  234.10  43.98  152.94
2017-07-07  321.98  51.23  153.49


**Manipulating DataFrames** 

We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: df['column_name']

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [25]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

print()
#MY EXAMPLE#######

df2 = btc_table
print(df2.Close.tail(5))
print(df2['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850780
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

Date
2017-12-27    15838.500000
2017-12-28    14606.500000
2017-12-29    14656.200195
2017-12-30    12952.200195
2017-12-31    14156.400391
Name: Close, dtype: float64
Date
2017-12-27    12487600128
2017-12-28    12336499712
2017-12-29    13025500160
2017-12-30    14452599808
2017-12-31    12136299520
Name: Volume, dtype: int64

In [26]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

print()
#MY EXAMPLE#######

btc_2016 = df2['2016']
btc_month = btc_2016.resample('M').agg(lambda x: x[-1])
print(btc_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852392  22.440254  21.750956  ...  257666000        0.0             0
2016-02-29  22.450757  22.768304  22.402082  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785533  21.954737  21.442491  ...  274126000        0.0             0
2016-05-31  23.226405  23.412963  23.044512  ...  169228800        0.0             0
2016-06-30  22.023114  22.333264  21.990466  ...  143345600        0.0             0
2016-07-31  24.296784  24.380735  24.177853  ...  110934800        0.0             0
2016-08-31  24.773058  24.986415  24.768367  ...  118649600        0.0             0
2016-09-30  26.367384  26.580743  26.212641  ...  145516400        0.0             0
2016-10-31  26.646392  26.782380  26.540884  ...  105677600        0.0             0
2016-11-30  26.300090  26.441488  25.986656  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2016-01-31  378.292999  380.346985  ...          0             0
2016-02-29  433.437988  441.506989  ...          0             0
2016-03-31  415.256989  418.368988  ...          0             0
2016-04-30  455.178009  455.587006  ...          0             0
2016-05-31  534.190979  546.617981  ...          0             0
2016-06-30  640.591003  675.403015  ...          0             0
2016-07-31  655.099976  655.284973  ...          0             0
2016-08-31  577.591003  577.861023  ...          0             0
2016-09-30  605.715027  609.734985  ...          0             0
2016-10-31  702.640015  709.289001  ...          0             0
2016-11-30  736.283997  747.929016  ...          0             0
2016-12-31  960.627014  963.742981  ...          0             0

[12 rows x 7 columns]

In [27]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

print()
#MY EXAMPLE#######

btc_bar = btc_month[['Open', 'High', 'Low', 'Close']]
print(btc_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852392  22.440254  21.750956  22.440254
2016-02-29  22.450757  22.768304  22.402082  22.411354
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785533  21.954737  21.442491  21.727587
2016-05-31  23.226405  23.412963  23.044512  23.287037
2016-06-30  22.023114  22.333264  21.990466  22.293621
2016-07-31  24.296784  24.380735  24.177853  24.301447
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367384  26.580743  26.212641  26.505716
2016-10-31  26.646392  26.782380  26.540884  26.620602
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490193  27.619807  27.202683  27.294592

                  Open        High         Low       Close
Date
2016-01-31  378.292999  380.346985  367.834991  368.766998
2016-02-29  433.437988  441.506989  431.692993  437.696991
2016-03-31  415.256989  418.368988  415.256989  416.729004
2016-04-30  455.178009  455.587006  447.696991  448.317993
2016-05-31  534.190979  546.617981  520.661987  531.385986
2016-06-30  640.591003  675.403015  636.607971  673.336975
2016-07-31  655.099976  655.284973  624.364990  624.681030
2016-08-31  577.591003  577.861023  573.642029  575.471985
2016-09-30  605.715027  609.734985  604.142029  609.734985
2016-10-31  702.640015  709.289001  691.682007  700.971985
2016-11-30  736.283997  747.929016  736.265015  745.690979
2016-12-31  960.627014  963.742981  947.236023  963.742981

In [28]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

print()
#MY EXAMPLE#######

print(btc_month.loc['2016-05':'2016-07',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785533  21.954737  21.442491  21.727587
2016-05-31  23.226405  23.412963  23.044512  23.287037
2016-06-30  22.023114  22.333264  21.990466  22.293621
                  Open        High         Low       Close
Date
2016-05-31  534.190979  546.617981  520.661987  531.385986
2016-06-30  640.591003  675.403015  636.607971  673.336975
2016-07-31  655.099976  655.284973  624.364990  624.681030

In [29]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

print()
#MY EXAMPLE#######

above2 = btc_bar[btc_bar.Close > np.mean(btc_bar.Close)]
print(above2)

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367384  26.580743  26.212641  26.505716
2016-10-31  26.646392  26.782380  26.540884  26.620602
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490193  27.619807  27.202683  27.294592

                  Open        High         Low       Close
Date
2016-06-30  640.591003  675.403015  636.607971  673.336975
2016-07-31  655.099976  655.284973  624.364990  624.681030
2016-09-30  605.715027  609.734985  604.142029  609.734985
2016-10-31  702.640015  709.289001  691.682007  700.971985
2016-11-30  736.283997  747.929016  736.265015  745.690979
2016-12-31  960.627014  963.742981  947.236023  963.742981

**Data Validation**

In [30]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

print()
#MY EXAMPLE#######

btc_bar['rate_return'] = btc_bar.Close.pct_change()
print(btc_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852392  22.440254  21.750956  22.440254          NaN
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

                  Open        High         Low       Close  rate_return
Date
2016-01-31  378.292999  380.346985  367.834991  368.766998          NaN
2016-02-29  433.437988  441.506989  431.692993  437.696991     0.186920
2016-03-31  415.256989  418.368988  415.256989  416.729004    -0.047905
2016-04-30  455.178009  455.587006  447.696991  448.317993     0.075802
2016-05-31  534.190979  546.617981  520.661987  531.385986     0.185288
2016-06-30  640.591003  675.403015  636.607971  673.336975     0.267133
2016-07-31  655.099976  655.284973  624.364990  624.681030    -0.072261
2016-08-31  577.591003  577.861023  573.642029  575.471985    -0.078775
2016-09-30  605.715027  609.734985  604.142029  609.734985     0.059539
2016-10-31  702.640015  709.289001  691.682007  700.971985     0.149634
2016-11-30  736.283997  747.929016  736.265015  745.690979     0.063796
2016-12-31  960.627014  963.742981  947.236023  963.742981     0.292416

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [31]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

print()
#MY EXAMPLE#######

missing2 = btc_bar.isnull()
print(missing2)
print('---------------------------------------------')
print(missing2.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [32]:
print(missing[missing.rate_return == True])

print()
#MY EXAMPLE#######

print(missing2[missing2.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [33]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

print()
#MY EXAMPLE#######

drop2 = btc_bar.dropna()
print(drop2)
print('\n--------------------------------------------------\n')
fill2 = btc_bar.fillna(0)
print(fill2)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852392  22.440254  21.750956  22.440254     0.000000
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

                  Open        High         Low       Close  rate_return
Date
2016-02-29  433.437988  441.506989  431.692993  437.696991     0.186920
2016-03-31  415.256989  418.368988  415.256989  416.729004    -0.047905
2016-04-30  455.178009  455.587006  447.696991  448.317993     0.075802
2016-05-31  534.190979  546.617981  520.661987  531.385986     0.185288
2016-06-30  640.591003  675.403015  636.607971  673.336975     0.267133
2016-07-31  655.099976  655.284973  624.364990  624.681030    -0.072261
2016-08-31  577.591003  577.861023  573.642029  575.471985    -0.078775
2016-09-30  605.715027  609.734985  604.142029  609.734985     0.059539
2016-10-31  702.640015  709.289001  691.682007  700.971985     0.149634
2016-11-30  736.283997  747.929016  736.265015  745.690979     0.063796
2016-12-31  960.627014  963.742981  947.236023  963.742981     0.292416

--------------------------------------------------

                  Open        High         Low       Close  rate_return
Date
2016-01-31  378.292999  380.346985  367.834991  368.766998     0.000000
2016-02-29  433.437988  441.506989  431.692993  437.696991     0.186920
2016-03-31  415.256989  418.368988  415.256989  416.729004    -0.047905
2016-04-30  455.178009  455.587006  447.696991  448.317993     0.075802
2016-05-31  534.190979  546.617981  520.661987  531.385986     0.185288
2016-06-30  640.591003  675.403015  636.607971  673.336975     0.267133
2016-07-31  655.099976  655.284973  624.364990  624.681030    -0.072261
2016-08-31  577.591003  577.861023  573.642029  575.471985    -0.078775
2016-09-30  605.715027  609.734985  604.142029  609.734985     0.059539
2016-10-31  702.640015  709.289001  691.682007  700.971985     0.149634
2016-11-30  736.283997  747.929016  736.265015  745.690979     0.063796
2016-12-31  960.627014  963.742981  947.236023  963.742981     0.292416

**DataFrame Concat**

In [34]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

print()
#MY EXAMPLE#######

s3 = pd.Series([356.7, 35.1, 109.2, 34.9, 66.34], name = 'BTC')
s4 = pd.Series([58.3, 88.94, 21.11, 918.59, 43/87], name = 'BTCH')
data_Frame = pd.concat([s3,s4], axis = 1)
print(data_Frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

      BTC        BTCH
0  356.70   58.300000
1   35.10   88.940000
2  109.20   21.110000
3   34.90  918.590000
4   66.34    0.494253

In [35]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

print()
#MY EXAMPLE#######

log_price2 = np.log(btc_bar.Close)
log_price2.name = 'log_price'
print(log_price2)
print('\n---------------------- separate line--------------------\n')
concat2 = pd.concat([btc_bar, log_price2], axis = 1)
print(concat2)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277360
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852392  22.440254  21.750956  22.440254          NaN   3.110856
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211   3.229314
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921   3.078583
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773   3.147897
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660   3.104301
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063   3.190536
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652   3.213912
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504   3.277360
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334   3.281685
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

Date
2016-01-31    5.910165
2016-02-29    6.081527
2016-03-31    6.032436
2016-04-30    6.105503
2016-05-31    6.275489
2016-06-30    6.512246
2016-07-31    6.437241
2016-08-31    6.355191
2016-09-30    6.413024
2016-10-31    6.552468
2016-11-30    6.614311
2016-12-31    6.870825
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  Open        High  ...  rate_return  log_price
Date                                ...
2016-01-31  378.292999  380.346985  ...          NaN   5.910165
2016-02-29  433.437988  441.506989  ...     0.186920   6.081527
2016-03-31  415.256989  418.368988  ...    -0.047905   6.032436
2016-04-30  455.178009  455.587006  ...     0.075802   6.105503
2016-05-31  534.190979  546.617981  ...     0.185288   6.275489
2016-06-30  640.591003  675.403015  ...     0.267133   6.512246
2016-07-31  655.099976  655.284973  ...    -0.072261   6.437241
2016-08-31  577.591003  577.861023  ...    -0.078775   6.355191
2016-09-30  605.715027  609.734985  ...     0.059539   6.413024
2016-10-31  702.640015  709.289001  ...     0.149634   6.552468
2016-11-30  736.283997  747.929016  ...     0.063796   6.614311
2016-12-31  960.627014  963.742981  ...     0.292416   6.870825

[12 rows x 6 columns]

In [36]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

print()
#MY EXAMPLE#######

df_volume2 = btc_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume2)
print('\n---------------------- separate line--------------------\n')
df2_2017 = btc_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df2_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646392  26.782380  26.540884  26.620602
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550681  28.607239  28.425779  28.597813
2017-02-28  32.444870  32.530077  32.354928  32.423569
2017-03-31  34.016463  34.146641  33.848414  34.002262
2017-04-30  34.104024  34.153730  33.909944  33.999882

               Volume  Stock Splits
Date
2016-10-31   97064400             0
2016-11-30   84070800             0
2016-12-31   99135104             0
2017-01-31  164582000             0
2017-02-28  184956000             0
2017-03-31  447287008             0
2017-04-30  413115008             0

---------------------- separate line--------------------

                   Open         High          Low        Close
Date
2016-10-31   702.640015   709.289001   691.682007   700.971985
2016-11-30   736.283997   747.929016   736.265015   745.690979
2016-12-31   960.627014   963.742981   947.236023   963.742981
2017-01-31   920.958984   972.018982   920.958984   970.403015
2017-02-28  1180.719971  1193.250000  1171.819946  1179.969971
2017-03-31  1026.640015  1074.920044  1026.640015  1071.790039
2017-04-30  1321.869995  1347.910034  1314.920044  1347.890015

In [37]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

print()
#MY EXAMPLE#######

concat2 = pd.concat([btc_bar, df_volume2], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852392  22.440254  ...          NaN           NaN
2016-02-29  22.450757  22.768304  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785533  21.954737  ...          NaN           NaN
2016-05-31  23.226405  23.412963  ...          NaN           NaN
2016-06-30  22.023114  22.333264  ...          NaN           NaN
2016-07-31  24.296784  24.380735  ...          NaN           NaN
2016-08-31  24.773058  24.986415  ...          NaN           NaN
2016-09-30  26.367384  26.580743  ...          NaN           NaN
2016-10-31  26.646392  26.782380  ...  105677600.0           0.0
2016-11-30  26.300090  26.441488  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852392  22.440254  ...          NaN           NaN
2016-02-29  22.450757  22.768304  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785533  21.954737  ...          NaN           NaN
2016-05-31  23.226405  23.412963  ...          NaN           NaN
2016-06-30  22.023114  22.333264  ...          NaN           NaN
2016-07-31  24.296784  24.380735  ...          NaN           NaN
2016-08-31  24.773058  24.986415  ...          NaN           NaN
2016-09-30  26.367384  26.580743  ...          NaN           NaN
2016-10-31  26.646392  26.782380  ...  105677600.0           0.0
2016-11-30  26.300090  26.441488  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [38]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

print()
#MY EXAMPLE#######

concat2 = pd.concat([btc_bar,df_volume],axis = 1, join = 'inner')
print(concat2)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646392  26.782380  ...  105677600             0
2016-11-30  26.300090  26.441488  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

                  Open        High  ...     Volume  Stock Splits
Date                                ...
2016-10-31  702.640015  709.289001  ...  105677600             0
2016-11-30  736.283997  747.929016  ...  144649200             0
2016-12-31  960.627014  963.742981  ...  122345200             0

[3 rows x 7 columns]

In [39]:
append = aapl_bar.append(df_2017)
print(append)

print()
#MY EXAMPLE#######

append2 = btc_bar.append(df_2017)
print(append2)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852392  22.440254  21.750956  22.440254          NaN
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646392  26.782380  26.540884  26.620602          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104024  34.153730  33.909944  33.999882          NaN

                  Open        High         Low       Close  rate_return
Date
2016-01-31  378.292999  380.346985  367.834991  368.766998          NaN
2016-02-29  433.437988  441.506989  431.692993  437.696991     0.186920
2016-03-31  415.256989  418.368988  415.256989  416.729004    -0.047905
2016-04-30  455.178009  455.587006  447.696991  448.317993     0.075802
2016-05-31  534.190979  546.617981  520.661987  531.385986     0.185288
2016-06-30  640.591003  675.403015  636.607971  673.336975     0.267133
2016-07-31  655.099976  655.284973  624.364990  624.681030    -0.072261
2016-08-31  577.591003  577.861023  573.642029  575.471985    -0.078775
2016-09-30  605.715027  609.734985  604.142029  609.734985     0.059539
2016-10-31  702.640015  709.289001  691.682007  700.971985     0.149634
2016-11-30  736.283997  747.929016  736.265015  745.690979     0.063796
2016-12-31  960.627014  963.742981  947.236023  963.742981     0.292416
2016-10-31   26.646392   26.782380   26.540884   26.620602          NaN
2016-11-30   26.300090   26.441488   25.986656   26.045572          NaN
2016-12-31   27.490193   27.619807   27.202683   27.294592          NaN
2017-01-31   28.550681   28.607239   28.425779   28.597813          NaN
2017-02-28   32.444870   32.530077   32.354928   32.423569          NaN
2017-03-31   34.016463   34.146641   33.848414   34.002262          NaN
2017-04-30   34.104024   34.153730   33.909944   33.999882          NaN

In [129]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

print()
#MY EXAMPLE#######

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574          NaN
2016-12-31  27.490197  27.619811  27.202687  27.294596          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104039  34.153745  33.909959  33.999897          NaN

In [40]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

print()
#MY EXAMPLE#######

df2_2017.columns = ['Change', 'High','Low','Close']
concat2 = pd.concat([btc_bar, df2_2017], axis = 0)
print(concat2)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852392  22.440254  21.750956  22.440254          NaN        NaN
2016-02-29  22.450757  22.768304  22.402082  22.411354    -0.001288        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127211        NaN
2016-04-30  21.785533  21.954737  21.442491  21.727587    -0.139921        NaN
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773        NaN
2016-06-30  22.023114  22.333264  21.990466  22.293621    -0.042660        NaN
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063        NaN
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652        NaN
2016-09-30  26.367384  26.580743  26.212641  26.505716     0.065504        NaN
2016-10-31  26.646392  26.782380  26.540884  26.620602     0.004334        NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782380  26.540884  26.620602          NaN  26.646392
2016-11-30        NaN  26.441488  25.986656  26.045572          NaN  26.300090
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607239  28.425779  28.597813          NaN  28.550681
2017-02-28        NaN  32.530077  32.354928  32.423569          NaN  32.444870
2017-03-31        NaN  34.146641  33.848414  34.002262          NaN  34.016463
2017-04-30        NaN  34.153730  33.909944  33.999882          NaN  34.104024

                  Open         High  ...  rate_return       Change
Date                                 ...
2016-01-31  378.292999   380.346985  ...          NaN          NaN
2016-02-29  433.437988   441.506989  ...     0.186920          NaN
2016-03-31  415.256989   418.368988  ...    -0.047905          NaN
2016-04-30  455.178009   455.587006  ...     0.075802          NaN
2016-05-31  534.190979   546.617981  ...     0.185288          NaN
2016-06-30  640.591003   675.403015  ...     0.267133          NaN
2016-07-31  655.099976   655.284973  ...    -0.072261          NaN
2016-08-31  577.591003   577.861023  ...    -0.078775          NaN
2016-09-30  605.715027   609.734985  ...     0.059539          NaN
2016-10-31  702.640015   709.289001  ...     0.149634          NaN
2016-11-30  736.283997   747.929016  ...     0.063796          NaN
2016-12-31  960.627014   963.742981  ...     0.292416          NaN
2016-10-31         NaN   709.289001  ...          NaN   702.640015
2016-11-30         NaN   747.929016  ...          NaN   736.283997
2016-12-31         NaN   963.742981  ...          NaN   960.627014
2017-01-31         NaN   972.018982  ...          NaN   920.958984
2017-02-28         NaN  1193.250000  ...          NaN  1180.719971
2017-03-31         NaN  1074.920044  ...          NaN  1026.640015
2017-04-30         NaN  1347.910034  ...          NaN  1321.869995

[19 rows x 6 columns]